In [187]:
import pandas as pd
import csv
import numpy as np
import matplotlib.pyplot as plt

%matplotlib inline

In [188]:
ls

door_data.csv
merge sensor data + occupancy csv.ipynb
occupancy_data.csv
sensor_data.csv

In [189]:
# Load occupance data as a dataframe with the 'datetime' column as its index
peeps = 'occupancy_data.csv'
df = pd.read_csv(peeps, index_col='datetime', parse_dates=True)
# add new datetime column "dt" which is a copy of datetime
df['dt'] = df.index

In [190]:
print(df.head())

                           location count_operation  count_change  \
datetime
2017-03-18 08:59:09.769  Georgetown               +             1
2017-03-18 08:59:13.994  Georgetown               +             1
2017-03-18 08:59:15.326  Georgetown               +             1
2017-03-18 08:59:15.977  Georgetown               +             1
2017-03-18 08:59:17.561  Georgetown               +             1

                         count_total                      dt
datetime
2017-03-18 08:59:09.769            1 2017-03-18 08:59:09.769
2017-03-18 08:59:13.994            2 2017-03-18 08:59:13.994
2017-03-18 08:59:15.326            3 2017-03-18 08:59:15.326
2017-03-18 08:59:15.977            4 2017-03-18 08:59:15.977
2017-03-18 08:59:17.561            5 2017-03-18 08:59:17.561

In [191]:
df.describe()

       count_change  count_total
count    818.000000   818.000000
mean       1.088020    20.080685
std        0.995499     7.880742
min        1.000000     0.000000
25%        1.000000    15.000000
50%        1.000000    22.000000
75%        1.000000    26.000000
max       15.000000    31.000000

In [192]:
df.dtypes

location                   object
count_operation            object
count_change                int64
count_total                 int64
dt                 datetime64[ns]
dtype: object

In [193]:
df

,location,count_operation,count_change,count_total,dt
datetime,,,,,
2017-03-18 08:59:09.769,Georgetown,+,1,1,2017-03-18 08:59:09.769
2017-03-18 08:59:13.994,Georgetown,+,1,2,2017-03-18 08:59:13.994
2017-03-18 08:59:15.326,Georgetown,+,1,3,2017-03-18 08:59:15.326
2017-03-18 08:59:15.977,Georgetown,+,1,4,2017-03-18 08:59:15.977
2017-03-18 08:59:17.561,Georgetown,+,1,5,2017-03-18 08:59:17.561
2017-03-18 08:59:18.205,Georgetown,+,1,6,2017-03-18 08:59:18.205
2017-03-18 08:59:19.256,Georgetown,+,1,7,2017-03-18 08:59:19.256
2017-03-18 08:59:20.476,Georgetown,+,1,8,2017-03-18 08:59:20.476
2017-03-18 08:59:21.007,Georgetown,+,1,9,2017-03-18 08:59:21.007
2017-03-18 08:59:21.746,Georgetown,+,1,10,2017-03-18 08:59:21.746
2017-03-18 08:59:22.434,Georgetown,+,1,11,2017-03-18 08:59:22.434
2017-03-18 08:59:23.093,Georgetown,+,1,12,2017-03-18 08:59:23.093
2017-03-18 08:59:23.662,Georgetown,+,1,13,2017-03-18 08:59:23.662
2017-03-18 08:59:24.236,Georgetown,+,1,14,2017-03-18 08:59:24.236
2017-03-18 08:59:25.060,Georgetown,+,1,15,2017-03-18 08:59:25.060
2017-03-18 08:59:26.068,Georgetown,+,1,16,2017-03-18 08:59:26.068
2017-03-18 08:59:26.778,Georgetown,+,1,17,2017-03-18 08:59:26.778
2017-03-18 08:59:27.394,Georgetown,+,1,18,2017-03-18 08:59:27.394
2017-03-18 08:59:28.180,Georgetown,+,1,19,2017-03-18 08:59:28.180
2017-03-18 08:59:28.830,Georgetown,+,1,20,2017-03-18 08:59:28.830
2017-03-18 08:59:30.240,Georgetown,+,1,21,2017-03-18 08:59:30.240
2017-03-18 08:59:40.908,Georgetown,+,1,22,2017-03-18 08:59:40.908
2017-03-18 09:00:56.498,Georgetown,+,1,23,2017-03-18 09:00:56.498
2017-03-18 09:05:53.779,Georgetown,+,1,24,2017-03-18 09:05:53.779
2017-03-18 09:05:54.954,Georgetown,+,1,25,2017-03-18 09:05:54.954
2017-03-18 09:18:01.603,Georgetown,+,1,26,2017-03-18 09:18:01.603
2017-03-18 09:18:02.402,Georgetown,+,1,27,2017-03-18 09:18:02.402
2017-03-18 09:18:03.050,Georgetown,+,1,28,2017-03-18 09:18:03.050
2017-03-18 09:18:03.827,Georgetown,+,1,29,2017-03-18 09:18:03.827
2017-03-18 09:18:03.971,Georgetown,+,1,30,2017-03-18 09:18:03.971
...,...,...,...,...,...
2017-04-08 15:32:20.490,Georgetown,+,1,30,2017-04-08 15:32:20.490
2017-04-08 15:34:04.768,Georgetown,+,1,31,2017-04-08 15:34:04.768
2017-04-08 15:35:34.281,Georgetown,-,1,30,2017-04-08 15:35:34.281
2017-04-08 15:39:40.586,Georgetown,+,1,31,2017-04-08 15:39:40.586
2017-04-08 15:40:10.602,Georgetown,-,1,30,2017-04-08 15:40:10.602
2017-04-08 15:46:25.881,Georgetown,+,1,31,2017-04-08 15:46:25.881
2017-04-08 16:06:38.254,Georgetown,-,1,30,2017-04-08 16:06:38.254
2017-04-08 16:07:30.715,Georgetown,-,1,29,2017-04-08 16:07:30.715
2017-04-08 16:07:31.127,Georgetown,-,1,28,2017-04-08 16:07:31.127
2017-04-08 16:07:31.479,Georgetown,-,1,27,2017-04-08 16:07:31.479
2017-04-08 16:07:38.602,Georgetown,-,1,26,2017-04-08 16:07:38.602
2017-04-08 16:07:49.487,Georgetown,-,1,25,2017-04-08 16:07:49.487
2017-04-08 16:08:59.559,Georgetown,-,1,24,2017-04-08 16:08:59.559
2017-04-08 16:09:47.341,Georgetown,-,1,23,2017-04-08 16:09:47.341
2017-04-08 16:09:55.205,Georgetown,+,1,24,2017-04-08 16:09:55.205
2017-04-08 16:10:16.600,Georgetown,-,1,23,2017-04-08 16:10:16.600
2017-04-08 16:10:35.249,Georgetown,-,1,22,2017-04-08 16:10:35.249
2017-04-08 16:12:05.866,Georgetown,+,1,23,2017-04-08 16:12:05.866
2017-04-08 16:12:14.537,Georgetown,-,1,22,2017-04-08 16:12:14.537
2017-04-08 16:12:28.417,Georgetown,-,1,21,2017-04-08 16:12:28.417
2017-04-08 16:14:19.928,Georgetown,-,1,20,2017-04-08 16:14:19.928
2017-04-08 16:14:20.483,Georgetown,-,1,19,2017-04-08 16:14:20.483
2017-04-08 16:15:02.923,Georgetown,-,1,18,2017-04-08 16:15:02.923
2017-04-08 16:15:03.097,Georgetown,-,1,17,2017-04-08 16:15:03.097
2017-04-08 16:15:03.638,Georgetown,-,1,16,2017-04-08 16:15:03.638
2017-04-08 16:18:59.561,Georgetown,-,1,15,2017-04-08 16:18:59.561
2017-04-08 16:26:43.330,Georgetown,-,1,14,2017-04-08 16:26:43.330
2017-04-08 16:26:43.482,Georgetown,-,1,13,2017-04-08 16:26:43.482
2017-04-08 16:27:25.451,Georgetown,-,1,12,2017-04-08 16:27:25.451
2017-04-08 16:28:13.369,Georgetown,x,12,0,2017-04-08 16:28:13.369

In [194]:
# create a new column truncated to minute precision
df['dtm'] = df['dt'].values.astype('<M8[m]')
df

,location,count_operation,count_change,count_total,dt,dtm
datetime,,,,,,
2017-03-18 08:59:09.769,Georgetown,+,1,1,2017-03-18 08:59:09.769,2017-03-18 08:59:00
2017-03-18 08:59:13.994,Georgetown,+,1,2,2017-03-18 08:59:13.994,2017-03-18 08:59:00
2017-03-18 08:59:15.326,Georgetown,+,1,3,2017-03-18 08:59:15.326,2017-03-18 08:59:00
2017-03-18 08:59:15.977,Georgetown,+,1,4,2017-03-18 08:59:15.977,2017-03-18 08:59:00
2017-03-18 08:59:17.561,Georgetown,+,1,5,2017-03-18 08:59:17.561,2017-03-18 08:59:00
2017-03-18 08:59:18.205,Georgetown,+,1,6,2017-03-18 08:59:18.205,2017-03-18 08:59:00
2017-03-18 08:59:19.256,Georgetown,+,1,7,2017-03-18 08:59:19.256,2017-03-18 08:59:00
2017-03-18 08:59:20.476,Georgetown,+,1,8,2017-03-18 08:59:20.476,2017-03-18 08:59:00
2017-03-18 08:59:21.007,Georgetown,+,1,9,2017-03-18 08:59:21.007,2017-03-18 08:59:00
2017-03-18 08:59:21.746,Georgetown,+,1,10,2017-03-18 08:59:21.746,2017-03-18 08:59:00
2017-03-18 08:59:22.434,Georgetown,+,1,11,2017-03-18 08:59:22.434,2017-03-18 08:59:00
2017-03-18 08:59:23.093,Georgetown,+,1,12,2017-03-18 08:59:23.093,2017-03-18 08:59:00
2017-03-18 08:59:23.662,Georgetown,+,1,13,2017-03-18 08:59:23.662,2017-03-18 08:59:00
2017-03-18 08:59:24.236,Georgetown,+,1,14,2017-03-18 08:59:24.236,2017-03-18 08:59:00
2017-03-18 08:59:25.060,Georgetown,+,1,15,2017-03-18 08:59:25.060,2017-03-18 08:59:00
2017-03-18 08:59:26.068,Georgetown,+,1,16,2017-03-18 08:59:26.068,2017-03-18 08:59:00
2017-03-18 08:59:26.778,Georgetown,+,1,17,2017-03-18 08:59:26.778,2017-03-18 08:59:00
2017-03-18 08:59:27.394,Georgetown,+,1,18,2017-03-18 08:59:27.394,2017-03-18 08:59:00
2017-03-18 08:59:28.180,Georgetown,+,1,19,2017-03-18 08:59:28.180,2017-03-18 08:59:00
2017-03-18 08:59:28.830,Georgetown,+,1,20,2017-03-18 08:59:28.830,2017-03-18 08:59:00
2017-03-18 08:59:30.240,Georgetown,+,1,21,2017-03-18 08:59:30.240,2017-03-18 08:59:00
2017-03-18 08:59:40.908,Georgetown,+,1,22,2017-03-18 08:59:40.908,2017-03-18 08:59:00
2017-03-18 09:00:56.498,Georgetown,+,1,23,2017-03-18 09:00:56.498,2017-03-18 09:00:00
2017-03-18 09:05:53.779,Georgetown,+,1,24,2017-03-18 09:05:53.779,2017-03-18 09:05:00
2017-03-18 09:05:54.954,Georgetown,+,1,25,2017-03-18 09:05:54.954,2017-03-18 09:05:00
2017-03-18 09:18:01.603,Georgetown,+,1,26,2017-03-18 09:18:01.603,2017-03-18 09:18:00
2017-03-18 09:18:02.402,Georgetown,+,1,27,2017-03-18 09:18:02.402,2017-03-18 09:18:00
2017-03-18 09:18:03.050,Georgetown,+,1,28,2017-03-18 09:18:03.050,2017-03-18 09:18:00
2017-03-18 09:18:03.827,Georgetown,+,1,29,2017-03-18 09:18:03.827,2017-03-18 09:18:00
2017-03-18 09:18:03.971,Georgetown,+,1,30,2017-03-18 09:18:03.971,2017-03-18 09:18:00
...,...,...,...,...,...,...
2017-04-08 15:32:20.490,Georgetown,+,1,30,2017-04-08 15:32:20.490,2017-04-08 15:32:00
2017-04-08 15:34:04.768,Georgetown,+,1,31,2017-04-08 15:34:04.768,2017-04-08 15:34:00
2017-04-08 15:35:34.281,Georgetown,-,1,30,2017-04-08 15:35:34.281,2017-04-08 15:35:00
2017-04-08 15:39:40.586,Georgetown,+,1,31,2017-04-08 15:39:40.586,2017-04-08 15:39:00
2017-04-08 15:40:10.602,Georgetown,-,1,30,2017-04-08 15:40:10.602,2017-04-08 15:40:00
2017-04-08 15:46:25.881,Georgetown,+,1,31,2017-04-08 15:46:25.881,2017-04-08 15:46:00
2017-04-08 16:06:38.254,Georgetown,-,1,30,2017-04-08 16:06:38.254,2017-04-08 16:06:00
2017-04-08 16:07:30.715,Georgetown,-,1,29,2017-04-08 16:07:30.715,2017-04-08 16:07:00
2017-04-08 16:07:31.127,Georgetown,-,1,28,2017-04-08 16:07:31.127,2017-04-08 16:07:00
2017-04-08 16:07:31.479,Georgetown,-,1,27,2017-04-08 16:07:31.479,2017-04-08 16:07:00
2017-04-08 16:07:38.602,Georgetown,-,1,26,2017-04-08 16:07:38.602,2017-04-08 16:07:00
2017-04-08 16:07:49.487,Georgetown,-,1,25,2017-04-08 16:07:49.487,2017-04-08 16:07:00
2017-04-08 16:08:59.559,Georgetown,-,1,24,2017-04-08 16:08:59.559,2017-04-08 16:08:00
2017-04-08 16:09:47.341,Georgetown,-,1,23,2017-04-08 16:09:47.341,2017-04-08 16:09:00
2017-04-08 16:09:55.205,Georgetown,+,1,24,2017-04-08 16:09:55.205,2017-04-08 16:09:00
2017-04-08 16:10:16.600,Georgetown,-,1,23,2017-04-08 16:10:16.600,2017-04-08 16:10:00
2017-04-08 16:10:35.249,Georgetown,-,1,22,2017-04-08 16:10:35.249,2017-04-08 16:10:00
2017-04-08 16:12:05.866,Georgetown,+,1,23,2017-04-08 16:12:05.866,2017-04-08 16:12:00
2017-04-08 16:12:14.537,Georgetown,-,1,22,2017-04-08 16:12:14.537,2017-04-08 16:12:00
2017-04-08 16:12:28.417,Georgetown,-,1,21,2017-04-08 16:12:28.417,2017-04-08 16:12:00
2017-04-08 16:14:19.928,Georgetown,-,1,20,2017-04-08 16:14:19.928,2017-04-08 16:14:00
2017-04-08 16:14:20.483,Georgetown,-,1,19,2017-04-08 16:14:20.483,2017-04-08 16:14:00
2017-04-08 16:15:02.923,Georgetown,-,1,18,2017-04-08 16:15:02.923,2017-04-08 16:15:00
2017-04-08 16:15:03.097,Georgetown,-,1,17,2017-04-08 16:15:03.097,2017-04-08 16:15:00
2017-04-08 16:15:03.638,Georgetown,-,1,16,2017-04-08 16:15:03.638,2017-04-08 16:15:00
2017-04-08 16:18:59.561,Georgetown,-,1,15,2017-04-08 16:18:59.561,2017-04-08 16:18:00
2017-04-08 16:26:43.330,Georgetown,-,1,14,2017-04-08 16:26:43.330,2017-04-08 16:26:00
2017-04-08 16:26:43.482,Georgetown,-,1,13,2017-04-08 16:26:43.482,2017-04-08 16:26:00
2017-04-08 16:27:25.451,Georgetown,-,1,12,2017-04-08 16:27:25.451,2017-04-08 16:27:00
2017-04-08 16:28:13.369,Georgetown,x,12,0,2017-04-08 16:28:13.369,2017-04-08 16:28:00

In [195]:
# show only datetime truncated by minute and count_total 
df1 = df[['dtm','count_total']]
df1

                                        dtm  count_total
datetime
2017-03-18 08:59:09.769 2017-03-18 08:59:00            1
2017-03-18 08:59:13.994 2017-03-18 08:59:00            2
2017-03-18 08:59:15.326 2017-03-18 08:59:00            3
2017-03-18 08:59:15.977 2017-03-18 08:59:00            4
2017-03-18 08:59:17.561 2017-03-18 08:59:00            5
2017-03-18 08:59:18.205 2017-03-18 08:59:00            6
2017-03-18 08:59:19.256 2017-03-18 08:59:00            7
2017-03-18 08:59:20.476 2017-03-18 08:59:00            8
2017-03-18 08:59:21.007 2017-03-18 08:59:00            9
2017-03-18 08:59:21.746 2017-03-18 08:59:00           10
2017-03-18 08:59:22.434 2017-03-18 08:59:00           11
2017-03-18 08:59:23.093 2017-03-18 08:59:00           12
2017-03-18 08:59:23.662 2017-03-18 08:59:00           13
2017-03-18 08:59:24.236 2017-03-18 08:59:00           14
2017-03-18 08:59:25.060 2017-03-18 08:59:00           15
2017-03-18 08:59:26.068 2017-03-18 08:59:00           16
2017-03-18 08:59:26.778 2017-03-18 08:59:00           17
2017-03-18 08:59:27.394 2017-03-18 08:59:00           18
2017-03-18 08:59:28.180 2017-03-18 08:59:00           19
2017-03-18 08:59:28.830 2017-03-18 08:59:00           20
2017-03-18 08:59:30.240 2017-03-18 08:59:00           21
2017-03-18 08:59:40.908 2017-03-18 08:59:00           22
2017-03-18 09:00:56.498 2017-03-18 09:00:00           23
2017-03-18 09:05:53.779 2017-03-18 09:05:00           24
2017-03-18 09:05:54.954 2017-03-18 09:05:00           25
2017-03-18 09:18:01.603 2017-03-18 09:18:00           26
2017-03-18 09:18:02.402 2017-03-18 09:18:00           27
2017-03-18 09:18:03.050 2017-03-18 09:18:00           28
2017-03-18 09:18:03.827 2017-03-18 09:18:00           29
2017-03-18 09:18:03.971 2017-03-18 09:18:00           30
...                                     ...          ...
2017-04-08 15:32:20.490 2017-04-08 15:32:00           30
2017-04-08 15:34:04.768 2017-04-08 15:34:00           31
2017-04-08 15:35:34.281 2017-04-08 15:35:00           30
2017-04-08 15:39:40.586 2017-04-08 15:39:00           31
2017-04-08 15:40:10.602 2017-04-08 15:40:00           30
2017-04-08 15:46:25.881 2017-04-08 15:46:00           31
2017-04-08 16:06:38.254 2017-04-08 16:06:00           30
2017-04-08 16:07:30.715 2017-04-08 16:07:00           29
2017-04-08 16:07:31.127 2017-04-08 16:07:00           28
2017-04-08 16:07:31.479 2017-04-08 16:07:00           27
2017-04-08 16:07:38.602 2017-04-08 16:07:00           26
2017-04-08 16:07:49.487 2017-04-08 16:07:00           25
2017-04-08 16:08:59.559 2017-04-08 16:08:00           24
2017-04-08 16:09:47.341 2017-04-08 16:09:00           23
2017-04-08 16:09:55.205 2017-04-08 16:09:00           24
2017-04-08 16:10:16.600 2017-04-08 16:10:00           23
2017-04-08 16:10:35.249 2017-04-08 16:10:00           22
2017-04-08 16:12:05.866 2017-04-08 16:12:00           23
2017-04-08 16:12:14.537 2017-04-08 16:12:00           22
2017-04-08 16:12:28.417 2017-04-08 16:12:00           21
2017-04-08 16:14:19.928 2017-04-08 16:14:00           20
2017-04-08 16:14:20.483 2017-04-08 16:14:00           19
2017-04-08 16:15:02.923 2017-04-08 16:15:00           18
2017-04-08 16:15:03.097 2017-04-08 16:15:00           17
2017-04-08 16:15:03.638 2017-04-08 16:15:00           16
2017-04-08 16:18:59.561 2017-04-08 16:18:00           15
2017-04-08 16:26:43.330 2017-04-08 16:26:00           14
2017-04-08 16:26:43.482 2017-04-08 16:26:00           13
2017-04-08 16:27:25.451 2017-04-08 16:27:00           12
2017-04-08 16:28:13.369 2017-04-08 16:28:00            0

[818 rows x 2 columns]

In [210]:
# drop duplicates, keeping the row with the highest value
df1 = df1.groupby('dtm', group_keys=False).apply(lambda x: x.ix[x.count_total.idxmax()])
df1

                                    dtm  count_total
dtm
2017-03-18 08:59:00 2017-03-18 08:59:00           22
2017-03-18 09:00:00 2017-03-18 09:00:00           23
2017-03-18 09:05:00 2017-03-18 09:05:00           25
2017-03-18 09:18:00 2017-03-18 09:18:00           31
2017-03-18 11:13:00 2017-03-18 11:13:00           30
2017-03-18 11:14:00 2017-03-18 11:14:00           29
2017-03-18 11:16:00 2017-03-18 11:16:00           27
2017-03-18 11:17:00 2017-03-18 11:17:00           22
2017-03-18 11:18:00 2017-03-18 11:18:00           24
2017-03-18 11:19:00 2017-03-18 11:19:00           26
2017-03-18 11:20:00 2017-03-18 11:20:00           27
2017-03-18 11:21:00 2017-03-18 11:21:00           30
2017-03-18 12:39:00 2017-03-18 12:39:00           29
2017-03-18 12:40:00 2017-03-18 12:40:00           28
2017-03-18 13:57:00 2017-03-18 13:57:00           30
2017-03-18 15:35:00 2017-03-18 15:35:00           30
2017-03-18 15:40:00 2017-03-18 15:40:00           29
2017-03-18 16:07:00 2017-03-18 16:07:00           28
2017-03-18 16:08:00 2017-03-18 16:08:00           26
2017-03-18 16:09:00 2017-03-18 16:09:00           23
2017-03-18 16:10:00 2017-03-18 16:10:00           22
2017-03-18 16:11:00 2017-03-18 16:11:00           21
2017-03-18 16:12:00 2017-03-18 16:12:00           20
2017-03-18 16:18:00 2017-03-18 16:18:00           18
2017-03-18 16:21:00 2017-03-18 16:21:00           17
2017-03-18 16:25:00 2017-03-18 16:25:00            0
2017-03-25 09:07:00 2017-03-25 09:07:00           15
2017-03-25 09:08:00 2017-03-25 09:08:00           30
2017-03-25 09:53:00 2017-03-25 09:53:00           29
2017-03-25 10:03:00 2017-03-25 10:03:00           30
...                                 ...          ...
2017-04-08 14:01:00 2017-04-08 14:01:00           21
2017-04-08 14:02:00 2017-04-08 14:02:00           13
2017-04-08 14:03:00 2017-04-08 14:03:00           13
2017-04-08 14:04:00 2017-04-08 14:04:00           15
2017-04-08 14:05:00 2017-04-08 14:05:00           17
2017-04-08 14:06:00 2017-04-08 14:06:00           21
2017-04-08 14:07:00 2017-04-08 14:07:00           24
2017-04-08 14:08:00 2017-04-08 14:08:00           27
2017-04-08 14:09:00 2017-04-08 14:09:00           28
2017-04-08 14:10:00 2017-04-08 14:10:00           29
2017-04-08 14:16:00 2017-04-08 14:16:00           30
2017-04-08 15:28:00 2017-04-08 15:28:00           29
2017-04-08 15:32:00 2017-04-08 15:32:00           30
2017-04-08 15:34:00 2017-04-08 15:34:00           31
2017-04-08 15:35:00 2017-04-08 15:35:00           30
2017-04-08 15:39:00 2017-04-08 15:39:00           31
2017-04-08 15:40:00 2017-04-08 15:40:00           30
2017-04-08 15:46:00 2017-04-08 15:46:00           31
2017-04-08 16:06:00 2017-04-08 16:06:00           30
2017-04-08 16:07:00 2017-04-08 16:07:00           29
2017-04-08 16:08:00 2017-04-08 16:08:00           24
2017-04-08 16:09:00 2017-04-08 16:09:00           24
2017-04-08 16:10:00 2017-04-08 16:10:00           23
2017-04-08 16:12:00 2017-04-08 16:12:00           23
2017-04-08 16:14:00 2017-04-08 16:14:00           20
2017-04-08 16:15:00 2017-04-08 16:15:00           18
2017-04-08 16:18:00 2017-04-08 16:18:00           15
2017-04-08 16:26:00 2017-04-08 16:26:00           14
2017-04-08 16:27:00 2017-04-08 16:27:00           12
2017-04-08 16:28:00 2017-04-08 16:28:00            0

[229 rows x 2 columns]

In [211]:
# drop dtm column
del df1['dtm']
# save df1 to csv
df1.to_csv('count_total.csv', sep=',')
df1

                     count_total
dtm
2017-03-18 08:59:00           22
2017-03-18 09:00:00           23
2017-03-18 09:05:00           25
2017-03-18 09:18:00           31
2017-03-18 11:13:00           30
2017-03-18 11:14:00           29
2017-03-18 11:16:00           27
2017-03-18 11:17:00           22
2017-03-18 11:18:00           24
2017-03-18 11:19:00           26
2017-03-18 11:20:00           27
2017-03-18 11:21:00           30
2017-03-18 12:39:00           29
2017-03-18 12:40:00           28
2017-03-18 13:57:00           30
2017-03-18 15:35:00           30
2017-03-18 15:40:00           29
2017-03-18 16:07:00           28
2017-03-18 16:08:00           26
2017-03-18 16:09:00           23
2017-03-18 16:10:00           22
2017-03-18 16:11:00           21
2017-03-18 16:12:00           20
2017-03-18 16:18:00           18
2017-03-18 16:21:00           17
2017-03-18 16:25:00            0
2017-03-25 09:07:00           15
2017-03-25 09:08:00           30
2017-03-25 09:53:00           29
2017-03-25 10:03:00           30
...                          ...
2017-04-08 14:01:00           21
2017-04-08 14:02:00           13
2017-04-08 14:03:00           13
2017-04-08 14:04:00           15
2017-04-08 14:05:00           17
2017-04-08 14:06:00           21
2017-04-08 14:07:00           24
2017-04-08 14:08:00           27
2017-04-08 14:09:00           28
2017-04-08 14:10:00           29
2017-04-08 14:16:00           30
2017-04-08 15:28:00           29
2017-04-08 15:32:00           30
2017-04-08 15:34:00           31
2017-04-08 15:35:00           30
2017-04-08 15:39:00           31
2017-04-08 15:40:00           30
2017-04-08 15:46:00           31
2017-04-08 16:06:00           30
2017-04-08 16:07:00           29
2017-04-08 16:08:00           24
2017-04-08 16:09:00           24
2017-04-08 16:10:00           23
2017-04-08 16:12:00           23
2017-04-08 16:14:00           20
2017-04-08 16:15:00           18
2017-04-08 16:18:00           15
2017-04-08 16:26:00           14
2017-04-08 16:27:00           12
2017-04-08 16:28:00            0

[229 rows x 1 columns]

In [212]:
#Load sensor data as a dataframe with the 'datetime' column as its index
sensor = 'sensor_data.csv'
sensor_data = pd.read_csv(sensor, index_col='datetime', parse_dates=True)
sensor_data['dt'] = sensor_data.index

In [213]:
print(sensor_data.head())

                               location  temperature  humidity    co2  light  \
datetime
2017-03-25 09:05:58  Georgetown-default         22.6      36.9  781.0  430.0
2017-03-25 09:06:04  Georgetown-default         23.8      39.0  767.0  448.0
2017-03-25 09:06:10  Georgetown-default         23.8      39.0  754.0  423.0
2017-03-25 09:06:15  Georgetown-default         23.8      39.0  768.0  412.0
2017-03-25 09:06:21  Georgetown-default         23.8      39.0  758.0  428.0

                     noise  bluetooth_devices  bluetooth_non_personal_devices  \
datetime
2017-03-25 09:05:58  511.0                  1                             NaN
2017-03-25 09:06:04  510.0                  8                             NaN
2017-03-25 09:06:10  511.0                  8                             NaN
2017-03-25 09:06:15  492.0                  8                             NaN
2017-03-25 09:06:21  491.0                  9                             NaN

                                     dt
datetime
2017-03-25 09:05:58 2017-03-25 09:05:58
2017-03-25 09:06:04 2017-03-25 09:06:04
2017-03-25 09:06:10 2017-03-25 09:06:10
2017-03-25 09:06:15 2017-03-25 09:06:15
2017-03-25 09:06:21 2017-03-25 09:06:21

In [214]:
sensor_data.describe()

,temperature,humidity,co2,light,noise,bluetooth_devices,bluetooth_non_personal_devices
count,12664.000000,12664.000000,12664.000000,1.266400e+04,12664.000000,12664.000000,4575.000000
mean,23.250648,32.687271,1101.113234,9.915169e+02,509.644978,258.141030,195.299016
std,9.382655,11.814063,194.300767,8.269717e+04,30.877830,145.962782,106.603835
min,-999.000000,-999.000000,2.000000,0.000000e+00,0.000000,0.000000,0.000000
25%,21.800000,23.300000,989.000000,1.780000e+02,501.000000,139.000000,106.000000
50%,22.100000,37.400000,1067.000000,2.010000e+02,509.000000,243.000000,183.000000
75%,25.800000,38.500000,1154.000000,3.460000e+02,521.000000,365.000000,269.000000
max,29.400000,43.000000,2001.000000,9.306527e+06,1023.000000,582.000000,403.000000

In [215]:
# create a new column truncated to minute precision
sensor_data['dtm'] = sensor_data['dt'].values.astype('<M8[m]')

In [216]:
# show only datetime truncated by minute and count_total of people
sensor_data1 = sensor_data[['dtm','temperature','humidity','co2','light','noise','bluetooth_devices','bluetooth_non_personal_devices']]

In [217]:
# drop duplicates, keeping the row with the highest value of temp
sensor_data1 = sensor_data1.groupby('dtm', group_keys=False).apply(lambda x: x.ix[x.temperature.idxmax()])
sensor_data1

,dtm,temperature,humidity,co2,light,noise,bluetooth_devices,bluetooth_non_personal_devices
dtm,,,,,,,,
2017-03-25 09:05:00,2017-03-25 09:05:00,22.6,36.9,781.0,430.0,511.0,1,NaN
2017-03-25 09:06:00,2017-03-25 09:06:00,23.8,39.0,767.0,448.0,510.0,8,NaN
2017-03-25 09:07:00,2017-03-25 09:07:00,23.9,39.0,787.0,438.0,511.0,18,NaN
2017-03-25 09:08:00,2017-03-25 09:08:00,23.9,38.8,761.0,421.0,509.0,25,NaN
2017-03-25 09:09:00,2017-03-25 09:09:00,24.0,38.8,792.0,441.0,500.0,37,NaN
2017-03-25 09:10:00,2017-03-25 09:10:00,24.0,38.8,792.0,454.0,501.0,38,NaN
2017-03-25 09:11:00,2017-03-25 09:11:00,24.1,38.7,784.0,453.0,509.0,39,NaN
2017-03-25 09:12:00,2017-03-25 09:12:00,24.1,38.6,809.0,329.0,511.0,43,NaN
2017-03-25 09:13:00,2017-03-25 09:13:00,24.1,38.8,801.0,402.0,512.0,43,NaN
2017-03-25 09:14:00,2017-03-25 09:14:00,24.2,38.6,806.0,411.0,498.0,45,NaN
2017-03-25 09:15:00,2017-03-25 09:15:00,24.2,38.5,793.0,408.0,509.0,47,NaN
2017-03-25 09:16:00,2017-03-25 09:16:00,24.2,38.4,785.0,371.0,505.0,48,NaN
2017-03-25 09:17:00,2017-03-25 09:17:00,24.2,38.3,831.0,362.0,522.0,48,NaN
2017-03-25 09:18:00,2017-03-25 09:18:00,24.3,38.3,835.0,383.0,510.0,52,NaN
2017-03-25 09:19:00,2017-03-25 09:19:00,24.3,38.3,826.0,416.0,507.0,52,NaN
2017-03-25 09:20:00,2017-03-25 09:20:00,24.3,38.2,838.0,410.0,483.0,53,NaN
2017-03-25 09:21:00,2017-03-25 09:21:00,24.4,38.2,827.0,409.0,503.0,54,NaN
2017-03-25 09:22:00,2017-03-25 09:22:00,24.4,38.1,847.0,412.0,503.0,57,NaN
2017-03-25 09:23:00,2017-03-25 09:23:00,24.4,38.1,819.0,417.0,507.0,59,NaN
2017-03-25 09:24:00,2017-03-25 09:24:00,24.5,38.0,858.0,418.0,495.0,60,NaN
2017-03-25 09:25:00,2017-03-25 09:25:00,24.5,38.0,850.0,400.0,502.0,60,NaN
2017-03-25 09:26:00,2017-03-25 09:26:00,24.5,37.9,840.0,416.0,511.0,61,NaN
2017-03-25 09:27:00,2017-03-25 09:27:00,24.6,37.9,887.0,339.0,500.0,63,NaN
2017-03-25 09:28:00,2017-03-25 09:28:00,24.6,37.8,856.0,339.0,515.0,63,NaN
2017-03-25 09:29:00,2017-03-25 09:29:00,24.6,37.9,882.0,341.0,507.0,64,NaN
2017-03-25 09:30:00,2017-03-25 09:30:00,24.6,37.7,887.0,350.0,500.0,65,NaN
2017-03-25 09:31:00,2017-03-25 09:31:00,24.7,37.8,916.0,318.0,536.0,67,NaN
2017-03-25 09:32:00,2017-03-25 09:32:00,24.8,37.9,925.0,342.0,501.0,69,NaN
2017-03-25 09:33:00,2017-03-25 09:33:00,24.8,37.8,946.0,342.0,494.0,70,NaN
2017-03-25 09:35:00,2017-03-25 09:35:00,24.8,37.8,952.0,354.0,500.0,73,NaN
...,...,...,...,...,...,...,...,...
2017-04-08 15:59:00,2017-04-08 15:59:00,22.2,22.2,1107.0,142.0,463.0,396,377.0
2017-04-08 16:00:00,2017-04-08 16:00:00,22.3,22.5,1116.0,152.0,539.0,397,378.0
2017-04-08 16:01:00,2017-04-08 16:01:00,22.3,22.9,1094.0,133.0,520.0,397,378.0
2017-04-08 16:02:00,2017-04-08 16:02:00,22.2,22.6,1094.0,164.0,539.0,398,379.0
2017-04-08 16:03:00,2017-04-08 16:03:00,22.3,22.8,1122.0,151.0,528.0,399,380.0
2017-04-08 16:04:00,2017-04-08 16:04:00,22.2,22.1,1119.0,151.0,501.0,400,381.0
2017-04-08 16:05:00,2017-04-08 16:05:00,22.2,22.8,1132.0,182.0,521.0,401,382.0
2017-04-08 16:06:00,2017-04-08 16:06:00,22.2,22.4,1097.0,181.0,535.0,403,384.0
2017-04-08 16:07:00,2017-04-08 16:07:00,22.2,22.4,1125.0,184.0,520.0,403,384.0
2017-04-08 16:08:00,2017-04-08 16:08:00,22.2,22.4,1138.0,183.0,549.0,403,384.0
2017-04-08 16:09:00,2017-04-08 16:09:00,22.2,23.4,1135.0,156.0,527.0,404,385.0
2017-04-08 16:10:00,2017-04-08 16:10:00,22.2,23.2,1125.0,184.0,506.0,405,386.0
2017-04-08 16:11:00,2017-04-08 16:11:00,22.2,23.0,1169.0,180.0,521.0,406,387.0
2017-04-08 16:12:00,2017-04-08 16:12:00,22.1,22.7,1125.0,182.0,506.0,410,391.0
2017-04-08 16:13:00,2017-04-08 16:13:00,22.0,22.1,1116.0,180.0,513.0,410,391.0
2017-04-08 16:14:00,2017-04-08 16:14:00,21.9,22.8,1128.0,181.0,530.0,413,394.0
2017-04-08 16:15:00,2017-04-08 16:15:00,21.9,22.1,1063.0,176.0,525.0,415,396.0
2017-04-08 16:16:00,2017-04-08 16:16:00,21.8,22.4,1063.0,176.0,511.0,416,397.0
2017-04-08 16:17:00,2017-04-08 16:17:00,21.7,22.4,1072.0,181.0,525.0,416,397.0
2017-04-08 16:18:00,2017-04-08 16:18:00,21.7,22.1,1024.0,174.0,602.0,417,398.0
2017-04-08 16:19:00,2017-04-08 16:19:00,21.6,22.4,1032.0,182.0,525.0,417,398.0
2017-04-08 16:20:00,2017-04-08 16:20:00,21.6,22.4,1074.0,179.0,520.0,418,398.0
2017-04-08 16:21:00,2017-04-08 16:21:00,21.6,21.9,1014.0,180.0,514.0,418,398.0
2017-04-08 16:22:00,2017-04-08 16:22:00,21.6,22.3,996.0,176.0,633.0,418,398.0
2017-04-08 16:23:00,2017-04-08 16:23:00,21.6,22.5,1014.0,117.0,538.0,418,398.0
2017-04-08 16:24:00,2017-04-08 16:24:00,21.5,21.9,1017.0,181.0,518.0,420,400.0
2017-04-08 16:25:00,2017-04-08 16:25:00,21.5,22.3,1049.0,180.0,525.0,422,401.0
2017-04-08 16:26:00,2017-04-08 16:26:00,21.5,22.2,1010.0,157.0,498.0,422,401.0
2017-04-08 16:27:00,2017-04-08 16:27:00,21.4,22.6,1028.0,179.0,534.0,424,403.0
2017-04-08 16:28:00,2017-04-08 16:28:00,21.4,22.5,995.0,181.0,528.0,424,403.0

In [218]:
# drop dtm column
del sensor_data1['dtm']
# save sensor_data1 to csv
sensor_data1.to_csv('sensor_data1.csv', sep=',')

In [219]:
ls

count_total.csv
door_data.csv
merge sensor data + occupancy csv.ipynb
occupancy_data.csv
sensor_data.csv
sensor_data1.csv
sensor_data1_count_total.csv

In [220]:
#merge newly saved csv files
csv1 = pd.read_csv('sensor_data1.csv')
csv2 = pd.read_csv('count_total.csv')
merged = csv1.merge(csv2, on="dtm", how="outer").fillna(method='ffill')
merged.to_csv("sensor_data1_count_total.csv", index=False)

In [221]:
# Import merged data as a dataframe with the 'datetime' column as its index
merged_data = 'sensor_data1_count_total.csv'
merged = pd.read_csv(merged_data, index_col='dtm', parse_dates=True)

In [222]:
merged

,temperature,humidity,co2,light,noise,bluetooth_devices,bluetooth_non_personal_devices,count_total
dtm,,,,,,,,
2017-03-25 09:05:00,22.6,36.9,781.0,430.0,511.0,1.0,NaN,NaN
2017-03-25 09:06:00,23.8,39.0,767.0,448.0,510.0,8.0,NaN,NaN
2017-03-25 09:07:00,23.9,39.0,787.0,438.0,511.0,18.0,NaN,15.0
2017-03-25 09:08:00,23.9,38.8,761.0,421.0,509.0,25.0,NaN,30.0
2017-03-25 09:09:00,24.0,38.8,792.0,441.0,500.0,37.0,NaN,30.0
2017-03-25 09:10:00,24.0,38.8,792.0,454.0,501.0,38.0,NaN,30.0
2017-03-25 09:11:00,24.1,38.7,784.0,453.0,509.0,39.0,NaN,30.0
2017-03-25 09:12:00,24.1,38.6,809.0,329.0,511.0,43.0,NaN,30.0
2017-03-25 09:13:00,24.1,38.8,801.0,402.0,512.0,43.0,NaN,30.0
2017-03-25 09:14:00,24.2,38.6,806.0,411.0,498.0,45.0,NaN,30.0
2017-03-25 09:15:00,24.2,38.5,793.0,408.0,509.0,47.0,NaN,30.0
2017-03-25 09:16:00,24.2,38.4,785.0,371.0,505.0,48.0,NaN,30.0
2017-03-25 09:17:00,24.2,38.3,831.0,362.0,522.0,48.0,NaN,30.0
2017-03-25 09:18:00,24.3,38.3,835.0,383.0,510.0,52.0,NaN,30.0
2017-03-25 09:19:00,24.3,38.3,826.0,416.0,507.0,52.0,NaN,30.0
2017-03-25 09:20:00,24.3,38.2,838.0,410.0,483.0,53.0,NaN,30.0
2017-03-25 09:21:00,24.4,38.2,827.0,409.0,503.0,54.0,NaN,30.0
2017-03-25 09:22:00,24.4,38.1,847.0,412.0,503.0,57.0,NaN,30.0
2017-03-25 09:23:00,24.4,38.1,819.0,417.0,507.0,59.0,NaN,30.0
2017-03-25 09:24:00,24.5,38.0,858.0,418.0,495.0,60.0,NaN,30.0
2017-03-25 09:25:00,24.5,38.0,850.0,400.0,502.0,60.0,NaN,30.0
2017-03-25 09:26:00,24.5,37.9,840.0,416.0,511.0,61.0,NaN,30.0
2017-03-25 09:27:00,24.6,37.9,887.0,339.0,500.0,63.0,NaN,30.0
2017-03-25 09:28:00,24.6,37.8,856.0,339.0,515.0,63.0,NaN,30.0
2017-03-25 09:29:00,24.6,37.9,882.0,341.0,507.0,64.0,NaN,30.0
2017-03-25 09:30:00,24.6,37.7,887.0,350.0,500.0,65.0,NaN,30.0
2017-03-25 09:31:00,24.7,37.8,916.0,318.0,536.0,67.0,NaN,30.0
2017-03-25 09:32:00,24.8,37.9,925.0,342.0,501.0,69.0,NaN,30.0
2017-03-25 09:33:00,24.8,37.8,946.0,342.0,494.0,70.0,NaN,30.0
2017-03-25 09:35:00,24.8,37.8,952.0,354.0,500.0,73.0,NaN,30.0
...,...,...,...,...,...,...,...,...
2017-03-18 11:21:00,21.4,22.5,995.0,181.0,528.0,424.0,403.0,30.0
2017-03-18 12:39:00,21.4,22.5,995.0,181.0,528.0,424.0,403.0,29.0
2017-03-18 12:40:00,21.4,22.5,995.0,181.0,528.0,424.0,403.0,28.0
2017-03-18 13:57:00,21.4,22.5,995.0,181.0,528.0,424.0,403.0,30.0
2017-03-18 15:35:00,21.4,22.5,995.0,181.0,528.0,424.0,403.0,30.0
2017-03-18 15:40:00,21.4,22.5,995.0,181.0,528.0,424.0,403.0,29.0
2017-03-18 16:07:00,21.4,22.5,995.0,181.0,528.0,424.0,403.0,28.0
2017-03-18 16:08:00,21.4,22.5,995.0,181.0,528.0,424.0,403.0,26.0
2017-03-18 16:09:00,21.4,22.5,995.0,181.0,528.0,424.0,403.0,23.0
2017-03-18 16:10:00,21.4,22.5,995.0,181.0,528.0,424.0,403.0,22.0
2017-03-18 16:11:00,21.4,22.5,995.0,181.0,528.0,424.0,403.0,21.0
2017-03-18 16:12:00,21.4,22.5,995.0,181.0,528.0,424.0,403.0,20.0
2017-03-18 16:18:00,21.4,22.5,995.0,181.0,528.0,424.0,403.0,18.0
2017-03-18 16:21:00,21.4,22.5,995.0,181.0,528.0,424.0,403.0,17.0
2017-03-18 16:25:00,21.4,22.5,995.0,181.0,528.0,424.0,403.0,0.0
2017-03-25 09:53:00,21.4,22.5,995.0,181.0,528.0,424.0,403.0,29.0
2017-03-25 10:03:00,21.4,22.5,995.0,181.0,528.0,424.0,403.0,30.0
2017-03-25 10:13:00,21.4,22.5,995.0,181.0,528.0,424.0,403.0,29.0
2017-03-25 10:14:00,21.4,22.5,995.0,181.0,528.0,424.0,403.0,25.0
2017-03-25 10:15:00,21.4,22.5,995.0,181.0,528.0,424.0,403.0,23.0
2017-03-25 10:24:00,21.4,22.5,995.0,181.0,528.0,424.0,403.0,31.0
2017-04-01 09:06:00,21.4,22.5,995.0,181.0,528.0,424.0,403.0,31.0
2017-04-01 12:45:00,21.4,22.5,995.0,181.0,528.0,424.0,403.0,9.0
2017-04-01 12:46:00,21.4,22.5,995.0,181.0,528.0,424.0,403.0,12.0
2017-04-01 12:47:00,21.4,22.5,995.0,181.0,528.0,424.0,403.0,16.0
2017-04-01 17:08:00,21.4,22.5,995.0,181.0,528.0,424.0,403.0,7.0
2017-04-01 17:11:00,21.4,22.5,995.0,181.0,528.0,424.0,403.0,0.0
2017-04-08 10:09:00,21.4,22.5,995.0,181.0,528.0,424.0,403.0,30.0
2017-04-08 13:01:00,21.4,22.5,995.0,181.0,528.0,424.0,403.0,16.0
2017-04-08 13:03:00,21.4,22.5,995.0,181.0,528.0,424.0,403.0,19.0

In [223]:
merged['count_total'].isnull().sum()

2

In [224]:
# save merged to csv
merged.to_csv('merged.csv', sep=',')